@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  @apply bg-slate;
  margin: 0;
  font-family: "Quicksand", sans-serif, "Roboto", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-white;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.title_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
  padding: 0;
}

.title_desc h1 {
  font-size: 4rem;
  @apply text-red;
  @apply font-bold;
}

.title_desc h2 {
  font-size: 3rem;
  @apply font-semibold;
}

.title_desc p {
  font-size: 1rem;
  @apply font-light;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: 1rem;
}
sub {
  top: 0.4em;
}
